:root {
  --todo-btn-active: hsl(220, 98%, 61%);

  // LIGHT THEME
  --very-light-gray: hsl(0, 0%, 98%);
  // --very-light-grayish-blue: hsl(236, 33%, 92%);
  --light-grayish-blue: hsl(233, 11%, 84%);
  --dark-grayish-blue-light: hsl(236, 9%, 61%);
  --very-dark-grayish-blue: hsl(235, 19%, 35%);

  // DARK THEME

  --very-dark-blue: hsl(235, 21%, 11%);
  // --very-dark-desaturated-blue: hsl(235, 24%, 19%);
  --light-grayish-blue: hsl(234, 39%, 85%);
  --light-grayish-blue-hover: hsl(236, 33%, 92%); //(hover)
  --dark-grayish-blue-dark: hsl(234, 11%, 52%);
  --very-dark-grayish-blue-1: hsl(233, 14%, 35%);
  --very-dark-grayish-blue-2: hsl(237, 14%, 26%);
}

.theme--dark {
  --item-background-color: hsl(235, 24%, 19%);
  --item-text-color: hsl(233, 11%, 84%);

  --background-color: hsl(235, 21%, 11%);
  --border-color: rgba(72, 75, 106, 0.5);
}
.theme--light {
  --item-background-color: hsl(0, 0%, 98%);
  --item-text-color: hsl(235, 24%, 19%);

  --background-color: hsl(0, 0%, 98%);
  --border-color: rgba(72, 75, 106, 0.2);
}

html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
}

// background  image ////////////////////////////////

.background-img {
  height: 37.5vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.theme--dark .background-img {
  background-image: url('./../img/bg-desktop-dark.jpg');
}
.theme--light .background-img {
  background-image: url('./../img/bg-desktop-light.jpg');
}

// background color //////////////////////////////////

.background-color {
  background-color: var(--background-color);
  height: 62.5vh;
}

// App ///////////////////////////////////////////////

.app {
  // main app styling
  width: 54rem;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 7.4rem;

  font-family: 'Josefin Sans', sans-serif;

  .todo__body {
    box-shadow: 0rem 10rem 6rem rgba(0, 0, 0, 0.1);
  }

  // top part styling
  .todo__top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .todo {
      font-weight: 700;
      font-size: 4rem;
      letter-spacing: 1.5rem;
      text-transform: uppercase;
      color: var(--very-light-gray);
    }
    .todo__theme {
      position: relative;
      // make the toggle work
      padding-top: 0.4rem;
      .img--moon {
        display: none;
      }
      #theme:checked ~ .img--moon {
        display: inline-block;
      }
      #theme:checked ~ .img--sun {
        display: none;
      }
      #theme {
        position: absolute;
        top: 20%;
        right: 15%;
        padding: 2rem;
        height: 2rem;
        width: 2rem;
        opacity: 0;
      }
      img {
        padding-top: 0.3rem;
      }
    }
  }

  // App Body styling
  .todo__body {
    font-size: 1.8rem;
    .todo__add {
      margin-bottom: 2.3rem;
      margin-top: 3.6rem;
      border-radius: 0.5rem;
      vertical-align: middle;
      box-shadow: 0rem 3rem 4rem rgba(0, 0, 0, 0.3);

      // Input of the todo app //////////
      .todo__input {
        width: 100%;
        margin-left: 2rem;
        border: none;
        background: none;
        color: var(--item-text-color);
        font-size: 1.8rem;
      }

      .todo__input::placeholder {
        color: var(--light-Grayish-Blue);
        font-family: 'Josefin Sans', sans-serif;
      }
    }
    .todo__item {
      background-color: var(--item-background-color);
      padding: 2rem 2.4rem;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .todo__container--check {
        height: 2.4rem;
        width: 2.4rem;
        position: relative;
        .item__check {
          position: absolute;
          top: 0;
          left: 0;
          padding: 2rem;
          height: 2.4rem;
          width: 2.4rem;
          opacity: 0;
          // cursor: pointer;
        }

        .item__checkmark {
          height: 2.4rem;
          width: 2.4rem;
          border: solid 1px var(--border-color);
          border-radius: 50%;
          position: absolute;
          cursor: pointer;

          .item__checkmark--checked {
            position: absolute;
            top: 32%;
            left: 29%;
            visibility: hidden;
          }
        }

        .item__check:checked ~ .item__checkmark {
          background: linear-gradient(
            0.35turn,
            hsl(192, 100%, 67%),
            hsl(280, 87%, 65%)
          );
          border: none;
        }
        .item__check:checked ~ .item__checkmark .item__checkmark--checked {
          visibility: visible;
        }
      }
      .item__desc {
        font-size: 1.8rem;
        color: var(--item-text-color);
        width: 100%;
        margin: 0 2.8rem;
        cursor: pointer;
      }
      .todo__remove {
        opacity: 0;
        background: none;
        border: none;
        cursor: pointer;
      }
    }
    .todo__item:hover .todo__remove {
      opacity: 1;
      transition: ease-in-out 200ms;
    }

    .todo__items {
      border-radius: 0.5rem;
      overflow: hidden;
    }
    .todo__list {
      .todo__item {
        border-bottom: solid 1px var(--border-color);
      }
    }

    .item--checked {
      .item__desc {
        color: var(--very-dark-grayish-blue);
        text-decoration: line-through;
      }
    }
  }

  .todo__footer {
    background-color: var(--item-background-color);
    padding: 1.6rem 2.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 1.3rem;
    color: var(--dark-grayish-blue-dark);

    .todo__btn {
      font-size: 1.4rem;

      font-weight: 700;
      background: none;
      color: var(--dark-grayish-blue-dark);
      text-decoration: none;
      transition: all 200ms;

      &:hover {
        color: var(--light-grayish-blue-hover);
      }
    }
    .todo__btn--active {
      color: var(--todo-btn-active);
    }

    .todo__sort {
      padding-left: 3rem;
      .todo__btn {
        margin-left: 1.4rem;
      }
    }
  }

  .todo__tip {
    text-align: center;
    color: var(--very-dark-grayish-blue-1);
    margin-top: 5rem;
    font-size: 1.4rem;
  }
}
